.main{
    width:75%;
    border: 1px solid black;
    margin:10px;
    padding:10px;
    display:grid;
    grid-template-rows: repeat(2,100px);
    grid-template-columns: repeat(3,1fr);
    grid-gap:10px;
        
}
.a{
    grid-column: 1/3;
    background-color:burlywood;
}
.b{
    grid-column: 3/4;
    grid-row:1/3;
    background-color:burlywood;
}
.c{
    background-color:burlywood;
}
.d{
    background-color:burlywood;
}

.main-2{
    width:75%;
    border: 1px solid black;
    margin:10px;
    padding:10px;
    display:grid;
    grid-template-rows: repeat(3,60px);
    grid-template-columns: repeat(3,1fr);
    grid-gap:10px;
}
.A{
    grid-column:1/3;
    background-color:rgb(238, 165, 69);
}
.B{
   
    background-color:rgb(238, 165, 69);
}
.C{
    
    background-color:rgb(238, 165, 69);
}
.D{
    grid-column:2/4 ;
    background-color:rgb(238, 165, 69);
}
.E{
    grid-column: 1/4;
    background-color:rgb(238, 165, 69);
}

.main-3{
    width:75%;
    border: 1px solid black;
    margin:10px;
    padding:10px;
    display:grid;
    grid-gap:10px;
    grid-template-rows: repeat(2,60px);
    grid-template-columns: repeat(4,1fr);
}
.A1{
    grid-column:1/3 ;
    background-color: cadetblue;;
}
.B1{
    grid-column: 3/4;
    grid-row: 1/3;
    background-color: cadetblue;;
}
.C1{
    grid-column:1/-4;
    background-color: cadetblue;;
}
.D1{
    background-color: cadetblue;;
}
.E1{
    grid-row: 1/3;
    grid-column: -1/-2;
   
    background-color: cadetblue;;
}

.main-4{
    width:75%;
    border: 1px solid black;
    margin:10px;
    padding:10px;
    display:grid;
    grid-gap:10px;
    grid-template-rows: 60px 150px 60px;
    grid-template-columns: repeat(3,1fr);
}
.header{
    grid-column: 2/4;
    background-color:cornflowerblue;
}
.sidebar{
    grid-row: 2/3;
    background-color:cornflowerblue;
}
.content{
    grid-column: 2/4;
    background-color:cornflowerblue;
}
.footer{
    grid-column: 1/4;
    background-color:cornflowerblue;
}

.main-5{
    width:50%;
    border: 1px solid black;
    margin:10px;
    padding:10px;
    display:grid;
    grid-gap:10px;
    grid-template-rows: repeat(3,100px);
    grid-template-columns: repeat(4,100px);
    grid-auto-flow: column;
    }
 .box{
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  }
  .box:nth-child(even) {
    background-color: #ccc;
    color: #000;
  }
  
  .main-6{
    width:50%;
    padding:10px;
    margin:10px;
    display:grid;
    border: 1px solid black;
    grid-gap:10px;
    grid-template-rows :50px 250px;
    grid-template-columns: repeat(2,215px);
    font-size: 150%;
    color: white;
    
  }
  .one{
    background-color:#444;
  }
  .two{
    background-color:#444;
  }
  .three{
    grid-column: 1/2;
    background-color:#444;
  }
  .four{
    
    display:grid;
    grid-gap:10px;
    grid-template-rows: 90px 150px;
    grid-template-columns: repeat(3,65px);
    background-color:#444;
  }
  .E2{
    margin:10px;
    grid-column:1/4;
    background-color:#ccc;
  }
  .F3{
    margin:10px;
    grid-column:1/2;
    background-color:#ccc;
  }
  .G4{
    margin:10px;
    grid-column:2/4;
    background-color:#ccc;
  }
